CQRS.Gui/bin/Debug/net5.0/CQRS.Gui.dll
CQRS.Gui/bin/Debug/net5.0/CQRS.Gui.pdb
CQRS.Gui/bin/Debug/net5.0/CQRS.Gui.Views.dll
CQRS.Gui/bin/Debug/net5.0/CQRS.Gui.Views.pdb
CQRS.Gui/bin/Debug/net5.0/CQRS.Simple.dll
CQRS.Gui/bin/Debug/net5.0/CQRS.Simple.pdb
CQRS.Simple/bin/Debug/net5.0/CQRS.Simple.dll
CQRS.Simple/bin/Debug/net5.0/CQRS.Simple.pdb
CQRS.Simple/bin/Debug/net5.0/ref/CQRS.Simple.dll
CQRS.Simple/obj/Debug/net5.0/CQRS.Simple.csproj.CoreCompileInputs.cache
CQRS.Simple/obj/Debug/net5.0/CQRS.Simple.dll
CQRS.Simple/obj/Debug/net5.0/CQRS.Simple.pdb
CQRS.Simple/obj/Debug/net5.0/ref/CQRS.Simple.dll
