@model CQRS.Simple.DTO.InventoryItemDetailsDto

@{
    ViewData["Title"] = "Check In:";
}

<form action="/Home/CheckIn" method="post">
    <div class="form-group">
        @(Html.Hidden("Id",Model.Id))
        @(Html.Hidden("Version",Model.Version))

        <label for="Number" class="control-label col-sm-3">Number:</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" data-val="true" id="Number" name="Number" value="" />
        </div>
    </div>

    <div class="col-sm-offset-2 col-sm-8">
        <input type="submit" value="Submit" class="btn btn-primary mr-1" />
    </div>
</form>