@model CQRS.Simple.DTO.InventoryItemDetailsDto

@{
    ViewData["Title"] = "Deactivate:";
}

<form action="/Home/Deactivate" method="post">
    <div class="form-group">
        @(Html.Hidden("Id",Model.Id))
        @(Html.Hidden("Version",Model.Version))

        <span>Deactivate &quot;@(Model.Name)&quot; (Version: @(Model.Version))?</span>
    </div>

    <div class="col-sm-offset-2 col-sm-8">
        <input type="submit" value="Submit" class="btn btn-primary mr-1" />
    </div>
</form>